/* Please add your own! */

/****************
      GLOBAL 
*****************/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #AAEFDF;
}

.container {
    width: 80%;
    margin: 0 auto;
}


/****************
      MAIN 
*****************/

h1 {
    font-weight: 700;
}

span {
    font-weight: 700;
    font-size: 35px;
}

article {
    padding: 10px;
    background-color: #9EE37D;
    margin-bottom: 30px;
    border-radius: 15px;
}

.nav .tag {
    padding: 10px;
    background-color: #ffffff;
    display: inline;
    font-weight: bold;
    color: black;
}

.new_post {
    padding: 10px;
    background-color: #ffffff;
    display: inline;
    font-weight: bold;
    color: black;
}

/****************
      FORM 
*****************/

.input-field {
    padding: 10px 0;
}

::placeholder {
    color:#BABABA;
}

label {
    display: block;
    padding-bottom: 10px;
}

input {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

textarea {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    width: 80%;
}

button {
	border: none;
	padding: 10px;
	background-color: #ffffff;
	color: black;
	font-size: 20px;
	font-weight: bold;
}


/****************
    BLOG POST 
*****************/

.title-container {
    text-align: center;
    padding: 20px;
}

.title {
    display: inline;
    margin-right: 20px;
}

.content {
    padding: 20px;
    width: 60%;
    margin: 0 auto;
    background-color: #ffffff;
    color: black;
}

.content a {
    color: white;
}

a {
    color: black;
}

.search-container {
    padding: 6px;
    background-color: #AAEFDF;
    display: inline;
    font-weight: bold;
    color: black;
    outline: none;
}