<center>
<div class="nav">
    <h1>Super Dude's Superfoods</h1>


<br>

    <div class="tags">
        <a href = "/" class="tag">Home</a>
        <a href = "/about" class="tag">About</a>
        <a href = "/meal_type" class="tag">Meal Type</a>
        <a href = "/super_foods" class="tag">Superfoods</a>
        <a href = "/skill_level" class="tag">Skill Level</a>
        <a href = "/random" class="tag">Random</a>
    </div>
    
</div>

</center>
<br>
<hr>
